.todo-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.todo-item:hover {
  background-color: rgba(255, 105, 180, 0.25);
  box-shadow: 0 0 1px hotpink;
}

.todo-item > label > * {
  margin-right: 0.5rem;
}

.todo-item > label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.todo-item .todo-text {
  border: none;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
