.todo-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.25rem 0;
  align-items: center;
}

.todo-item label {
  padding: 0.125rem 0.5rem;
}

.todo-item:hover {
  background-color: rgba(255, 105, 180, 0.25);
  box-shadow: 0 0 1px hotpink;
  cursor: pointer;
}

.todo-item input[type="checkbox"] {
  margin: 0 0.5rem;
}
